.ResumeContainer {
  max-width: 800px;
  margin: 0 auto;
}

.ResumeContainer .experience-item {
  margin-bottom: 1em;
}

.ResumeContainer p {
  margin: 0 0.1em 0 0;
}

.ResumeContainer .description span {
  color: #676565;
}

.ResumeContainer ul {
  margin-top: 0.3em;
}