<script
  src="https://giscus.app/client.js"
  data-repo="{{ site.giscus.repo }}"
  data-repo-id="{{ site.giscus.repo-id }}"
  data-category="{{ site.giscus.category }}"
  data-category-id="{{ site.giscus.category-id }}"
  data-mapping="{{ site.giscus.mapping | default: 'pathname' }}"
  data-strict="{{ site.giscus.strict | default: '0' }}"
  data-reactions-enabled="{{ site.giscus.reactions-enabled | default: '1' }}"
  data-emit-metadata="{{ site.giscus.emit-metadata | default: '0' }}"
  data-input-position="{{ site.giscus.input-position | default: 'bottom' }}"
  data-theme="{{ site.giscus.theme | default: 'light' }}"
  data-lang="{{ site.giscus.lang | default: 'en' }}"
  data-loading="{{ site.giscus.loading | default: 'lazy' }}"
  crossorigin="anonymous"
  async
></script>
